body {
    display: flex;
    flex-direction: row;
    background-color: black;
    font-family: 'Turret Road', cursive;
    color: #31e6c4;
    width: 100%;
    height: 100%;
}

#gl-canvas{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}