[submodule "3rdParty/fmt"]
	path = 3rdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdParty/i2c-tools"]
	path = 3rdParty/i2c-tools
	url = https://github.com/mozilla-b2g/i2c-tools.git
[submodule "3rdParty/json"]
	path = 3rdParty/json
	url = https://github.com/nlohmann/json.git
